.School {
  width: 80%;
  font-size: large;
  padding: 1%;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  color: darkblue;
  flex-direction: column;
  align-items: flex-start;
}

.School_Content {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.Card {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.16);
  width: 250px;
  height: 300px;
  border-radius: 5%;
  padding: 1%;
  margin: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
.Image {
  border-radius: 5%;
  width: 250px;
  height: 250px;
}
