.School {
  width: 80%;
  font-size: large;
  padding: 1%;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  color: darkblue;
  flex-direction: column;
  align-items: flex-start;
}
.schoolHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.search {
  width: 100%;
  height: 3%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  bottom: 0%;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: white;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0px -4px 16px 0px rgba(0, 0, 0, 0.16);
}
.searchInputs {
  width: 47%;
  display: flex;
  flex-direction: row;
}
.searchSchhool {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  flex-direction: row;
}
.searchStudent {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  flex-direction: row;
}

.searchBar{
  height: 25px;
  border-radius:5px ;
}
.searchBtn {
  display: flex;
  align-items: center;
 align-content: center;
 justify-content: center;
  width: 100px;
  height: 30px;
  border: 1px solid black;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.16);
  border-radius: 10px;
}

.School_Content {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.Card {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.16);
  width: 250px;
  height: 300px;
  border-radius: 5%;
  padding: 1%;
  margin: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}
.Image {
  border-radius: 5%;
  width: 250px;
  height: 250px;
}
