.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  align-content: center;
}

.Title {
  display: flex;
  position: fixed;
  left: 2%;
  bottom: 0%;
  padding: 1%;
  font-size: large;
  font-weight: bolder;
  font-style: italic;
}

.Heading {
  padding: 1%;
  margin: 1%;
  font-size: x-large;
  font-weight: bolder;
}
.Label {
  display: flex;
  padding: 1%;
  margin: 1%;
  font-size: large;
  font-weight: 700;
}
