.Header-logo {
    width: 7.5rem;
    height: 2rem;
  }
  
  .Header {
    background-color: white;
    padding: 1.5%;
    color: white;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.16);
    width: 100%;
  }